services:

  nginx:
      image: nginx:latest
      restart: always
      ports:
        - 8080:80
      volumes:
        - ./nginx/proxy.conf:/etc/nginx/conf.d/default.conf
        - staticfiles:/app/staticfiles
      depends_on:
        - app

  app:
    build: .
    image: chatbot-project:dev
    restart: always
    env_file: .env
    volumes:
      - staticfiles:/app/staticfiles
      - media:/app/media

volumes:
  staticfiles:
  media:
