{% extends 'base.html' %}

{% load static %}

{% block title %}Login{% endblock title %}

{% block content %}
    <div class="jumbotron">
        <p class="text-center mt-4">
            <img src="{% static 'img/logo.png' %}" alt="logo">
        </p>
        <h1 class="text-center mt-4">
            Tela de Login
        </h1>
        <p class="text-center">É a primeira vez? <a href="{% url 'cadastrar' %}">Clique aqui para cadastrar</a>!</p>
        {% if messages %}
            <ul class="text-bg-danger">
                {% for message in messages %}
                    <li class="{{ message.tags }}">
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <form action="{% url 'logar' %}" method="post" class="form-signin">
            {% csrf_token %}
            <div class="row">
                <div class="mb-4">
                    <div class="position-relative">
                        <input name="username" type="text" class="form-control" placeholder="Usuário">
                    </div>
                </div>

                <div class="mb-4">
                    <div class="position-relative">
                        <input name="password" id="id_password" type="password" class="form-control" placeholder="Senha">
                        <i class="bi bi-eye position-absolute top-50 end-0 translate-middle-y me-3"
                           style="cursor: pointer;"
                           onclick="togglePassword('id_password', this)">
                        </i>
                    </div>
                </div>

            </div>
            <div class="row">
                <button class="btn btn-primary" type="submit">Confirmar</button>
            </div>
        </form>
    </div>
{% endblock content %}
{% block js %}
    <script src="{% static 'js/show_hide_field_password.js' %}"></script>
{% endblock js %}